.commodity-name .ng-valid,
.commodity-symbol .ng-valid,
.commodity-price .ng-valid {
  background-color: green;
}

.commodity-name .ng-invalid,
.commodity-symbol .ng-invalid,
.commodity-price .ng-invalid {
  background-color: pink;
}

.formbutton{
	margin-top: 30px;
	margin-right: 10px;
}

.forminput{
  margin-right: 10px;
  box-sizing: border-box;
  vertical-align:top;
  height: 20px;
}