<h2>Create/Update Commodity</h2>

<div *ngIf="message" style="color: gold;">{{message}}</div>


<div style="margin-top: 4px;">  
  <div>  
      <div>  
          <form #commodityForm="ngForm" (ngSubmit)="createCommodity(commodityForm)" >  
              <div>  
                  <input type="text" class="forminput" placeholder="Commodity Name" maxlength=15 required name="name" ngModel >   
				  <input type="text" #input (input)="input.value=$event.target.value.toUpperCase()" class="forminput"  placeholder="Commodity Symbol" maxlength=3 required minlength="2" name="symbol" ngModel >  
				  <input title="Enter numbers max 4 digits" type="number" class="forminput" placeholder="Commodity Value" maxlength=4 required name="currentValue" ngModel>
				  <select class="forminput" required name="market" ngModel>
					<option *ngFor="let market of markets" [ngValue]="market">{{market}}</option>
				  </select>
              </div>  
              <div class="align-center">    
                  <button type="submit" class="formbutton">Create/Update</button>  
				  <input class="formbutton" type="reset">
              </div>  
          </form>  
      </div>  
  </div>  
</div>
